body {
    font-family: Andale Mono, monospace;
    background-color: #21262d
}

div {
    margin: 10px;
    border-radius: 10px
}

footer {
    background-color: teal;
    color: white;
    text-align: center;
    border-radius: 5px
}

a {
    color: white
}

img{
    width:15px;
    height:15px;
    border-radius:5px;
    margin-left: 15px;
    margin-top: 3px;
}

.app-box-text{
    text-align:center;
    color:white
}
.app-header {
    width: 1900px;
    height: 80px;
    background-color: teal;
    position: relative;
    border-radius: 10px;
    margin:0px
}

.app-box {
    width: 1900px;
    height: 200px;
    background-color: dimgray;
    position: relative;
    border-radius: 10px;
    margin: 0px
}

.app-header-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align:center
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 250px;
    margin-bottom: 100px;
}

.smcontainer {
    background-color: #0e4c5614;
    width: 1000px;
    height: 420px;
    position: relative;
    border-radius: 30px
}

.box {
    height: 50px;
    width: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-120%, 40%);
    background-color: yellow
}